name: Run Tests

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  php-tests:
    runs-on: ${{ matrix.os }}
    if: "!contains(github.event.head_commit.message, '[ci skip]')"

    strategy:
      matrix:
        php: [7.4, 8.0, 8.1]
        laravel: [8.*, 9.*]
        statamic: [3.3.*, 3.4.*, 4.*]
        stability: [prefer-lowest, prefer-stable]
        os: [ubuntu-latest]
        include:
          - laravel: 8.*
          - laravel: 9.*
          - os: windows-latest
            php: 7.4
            laravel: 8.*
            stability: prefer-stable
          - os: windows-latest
            php: 8.1
            laravel: 9.*
            stability: prefer-stable
        exclude:
          - laravel: 9.*
            php: 7.4

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - L${{ matrix.statamic }} - ${{ matrix.stability }} - ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo
          coverage: none

      - name: Set PHP 7.4 Mockery
        run: composer require "mockery/mockery >=1.2.3" --no-interaction --no-update
        if: matrix.php >= 7.4 && matrix.php <8.0

      - name: Set PHP 8 Mockery
        run: composer require "mockery/mockery >=1.3.3" --no-interaction --no-update
        if: matrix.php >= 8.0

      - name: Set PHP 8.1 Testbench
        run: composer require "orchestra/testbench ^6.22.0" --no-interaction --no-update
        if: matrix.laravel == '8.*' && matrix.php >= 8.1

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" --no-interaction --no-update
          composer require "statamic/cms:${{ matrix.statamic }}" --no-interaction --no-update
          composer update --${{ matrix.stability }} --prefer-dist --no-interaction

      - name: Execute tests
        run: vendor/bin/phpunit